{% load static %}

<html>
    <head class="page-header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">    
        <title>Places To Visit In Bangalore</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Places To Visit In Bangalore</a></h1>
        </div>
        <div>
            <nav class="navbar navbar-light bg-light">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="word_search" onkeyup="search_funct()">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
              </form>
            </nav>
        </div>
        <div class="content container">
            <div row>
                <div class="col-md-8" id="my_list">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script>
            const search_funct = () =>{
                let filter = document.getElementById('word_search').value.toUpperCase();

                let my_blog_list = document.getElementById('my_list');
                let post = my_blog_list.getElementsByClassName('post');
                for(var i=0; i<post.length; i++){
                    let each_post = post[i].getElementsByTagName('h2')[0];
                    each_title = each_post.innerText;
                    if (each_title.toUpperCase().indexOf(filter) > -1){
                        post[i].style.display = "";
                    }else{
                        post[i].style.display = "none";
                    }
                }

            }    
    
        </script>
        
    </body>
</html>